html
  head
    title='Yaaaay ... I'm alive and I've been Deployed !!!"
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello World !!
        p Click the button below to head over to Nowhere...
        p 
          a.btn.btn-primary(href="#") Click To Go Nowhere
        p
